.App {
 background-color: #93B1A6;
 min-height: 100vh;
}

.Logo{
  
  font-size: 1rem;
  font-weight: 900;
  }
.navbar{

background-color: #040D12;
min-height: 100vh;



}

.options{
  display: grid;
  grid-template-rows: auto 5% 5% auto ;
  gap: 10%;
  min-height: 100vh;
  text-align: center;
}


.options li{

  list-style: none;
  
}

.options-action{

background-color: #183D3D;

border-radius: 15px;
transition: 0.1s ease-in;
}


.options-action:hover{

  background-color: #93B1A6;
  
  border-radius: 15px;
  
  }

.extra-action{
  background-color: #4b401e;

}

.main-content{

  display: grid;
  grid-template-columns: 10% auto;
  color: rgb(255, 255, 255);

}

/*MAIN CONTENT*/

.game-content{

text-align: center;


}

.content-display{
  display: grid;
  grid-template-rows: auto 20% auto  ;
  gap: 10%;
  min-height: 100vh;
  text-align: center;
}

.winner-show{

font-size: 5rem;


}