.App {
 background-color: #75C2F6;
 min-height: 100vh;
}

.navbar{

background-color: #1D5D9B;
min-height: 100vh;



}

.options{
  display: grid;
  grid-template-rows: auto 5% 5% auto ;
  gap: 10%;
  min-height: 100vh;
  text-align: center;
}


.options li{

  list-style: none;
  
}

.options-action{

background-color: #F4D160;

border-radius: 15px;

}

.extra-action{
  background-color: #4b401e;

}

.main-content{

  display: grid;
  grid-template-columns: 10% auto;
  color: rgb(255, 255, 255);

}

